* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    height: 100%;
    background-image: url(../img/backg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 405px;
    margin: 0 auto;
}
header {
    h2 {
        color: #fff;
    }
}
.card{
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    padding: 10px;
    width: 527px;
    height: 242px;
    border-radius: 50px;
    background: rgba(149, 0, 255, 0.393);
    color: #fff;
    img {
        width: 120px;
        height: 120px;
    }
    .card_text {
        p {
            width: 200px;
        }
    }
}
footer {
    border-radius: 50px;
    background: #0000008a;
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 375px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50%, 0);
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 70px;
}
.btn-home{
    color: #fff;
    border: none;
    background  : transparent;
    flex-direction: column;
}